* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: auto;
  font-family: Helvetica;
  text-align: center;
  background-color: black;
}

.container {
  margin: 125px 100px 125px 100px;
  background-color: white;
  padding: 30px 8px 20px 8px;
}

header, #new-york h2 {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  color: white;
}

h1 {
  font-size: 70px;
}

.nav-menu ul {
  font-size: 18px;
  line-height: 35px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.our-process{
  padding-top: 30px;
}


a {
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
  padding-top: 30px;
}

.our-process p, #new-york p {
  font-size: 14px;
  line-height: 40px;;
}

#new-york h2 {
  font-size: 23px;
  color: white;
  margin-top: 15px;
}

footer {
  margin-top: 10px;
  background-color: dimgray;
  color: white;
  text-align: left;
  font-size: 11px;
}
